ipykernel
huggingface_hub
python-dotenv
numpy
scikit-learn
langchain
langchain-text-splitters
faiss-cpu
chromadb
pymupdf
openai
ragas
datasets
langchain-community
langchain-google-vertexai
sentence-transformers
rank-bm25